@font-face {
  font-family: "titleFont";
  src: url("font/Rockit.ttf");
}

@font-face {
  font-family: "MyText";
  src: url("font/big_noodle_titling.ttf");
}

body {
  color: #fff;
  background-color: #000;
  --neon-text-color: #f40;
  --neon-border-color: #08f;
  --neon2-text-color: #f40;
  --neon2-border-color: #f40;
}

.form {
  p {
    font-family: "MyText";
    font-size: 1.4em;
    margin-top: 30px;
  }

  button {
    margin: 10px 20px;
    width: 100px;
    height: 50px;
    color: #000;
    font-weight: 900;
    border: 0.1rem solid #fff;
    border-radius: 2rem;
  }

  .yes {
    background-color: #08f;
    animation: flicker1 1.5s infinite alternate;

    &:hover {
      background-color: #08f;
    }

    &::-moz-selection {
      background-color: var(--neon-border-color);
      color: var(--neon-text-color);
    }

    &::selection {
      background-color: var(--neon-border-color);
      color: var(--neon-text-color);
    }

    &:focus {
      outline: none;
    }
  }
  .done {
    background-color: grey;
  }
  .no {
    background-color: #c3083f;
    animation: flicker2 1.5s infinite alternate;

    &:hover {
      background-color: #f50029;
    }

    &::-moz-selection {
      background-color: var(--neon2-border-color);
      color: var(--neon2-text-color);
    }

    &::selection {
      background-color: var(--neon2-border-color);
      color: var(--neon2-text-color);
    }

    &:focus {
      outline: none;
    }
  }

  .done_no {
    background-color: grey;
  }
}

.form-header {
  padding: 2em;
  color: #fff;
  background-color: #000;
  font-family: "titleFont";
  h1 {
    padding-top: 2em;
    font-size: 1.2em;
  }
  margin-bottom: 5vh;
}

@keyframes flicker1 {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes flicker2 {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon2-text-color), 0 0 4rem var(--neon2-text-color),
      0 0 6rem var(--neon2-text-color), 0 0 8rem var(--neon2-text-color),
      0 0 10rem var(--neon2-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon2-border-color),
      inset 0 0 2rem var(--neon2-border-color),
      0 0 4rem var(--neon2-border-color),
      inset 0 0 4rem var(--neon2-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
