@font-face {
  font-family: "titleFont";
  src: url("font/Rockit.ttf");
}

@font-face {
  font-family: "MyText";
  src: url("font/big_noodle_titling.ttf");
}

.profile {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  h1 {
    animation: neon 0.08s ease-in-out infinite alternate;
    margin: 30px auto;
    font-size: 3em;
  }

  img {
    border-radius: 20px;
    margin: 20px auto;
  }

  .quote {
    margin: 20px auto;
    font-style: italic;
    color: #989898;
  }

  button {
    width: 230px;
    height: 50px;
    margin: 10px;
    border-radius: 6px;
  }

  .button-profil {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    button {
      border: 0;
      color: #fff;
      font-family: "MyText";
      font-size: 1.4em;
      text-shadow: #000 1px 0 10px;
      background-color: #eb4511;
      background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
    }
  }

  @keyframes neon {
    from {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
        0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
        0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
        0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
        0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
        0 0 60px rgba(30, 132, 242, 1);
    }
  }
}
