@font-face {
  font-family: "titleFont";
  src: url("font/Rockit.ttf");
}

@font-face {
  font-family: "MyText";
  src: url("font/big_noodle_titling.ttf");
}

.profile {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  h1 {
    animation: neon 0.08s ease-in-out infinite alternate;
    margin: 30px auto;
    font-size: 3em;
  }

  img {
    border-radius: 20px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 53px 0px rgba(253, 72, 231, 0.93);
    -moz-box-shadow: 0px 0px 53px 0px rgba(253, 72, 231, 0.93);
    box-shadow: 0px 0px 53px 0px rgba(253, 72, 231, 0.93);
  }

  .quote {
    margin: 20px auto;
    font-style: italic;
    color: #989898;
  }

  button {
    width: 230px;
    height: 50px;
    margin: 10px;
    border-radius: 6px;
  }

  .button-profil {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    button {
      //   color: #fff;
      //   font-family: "MyText";
      //   font-size: 1.4em;
      //   text-shadow: #000 1px 0 10px;
      //   background-color: #eb4511;
      //   background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
      color: hsla(0, 0%, 20%, 1);
      text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0,
        hsla(0, 0%, 100%, 0.6) 0 2px 1px;
      background-color: hsl(0, 0%, 90%);
      box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
        //  border  inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
          /* soft SD */ inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
        /* bottom SD */ inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
        /* top HL */ hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px,
        /* outer SD */ hsla(0, 0%, 50%, 0.5) 0 2px 3px 4px; /* outer HL */
      transition: color 0.2s;
    }
  }

  @keyframes neon {
    from {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
        0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
        0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
        0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
        0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
        0 0 60px rgba(30, 132, 242, 1);
    }
  }
}
